<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/typeWarehouse/{id}(id=${id})}" th:object="${typeWarehouseDto}" method="post">
        <div class="col-mb-3">
            <label for="typeWarehouseName" class="form-label">Имя товара</label>
            <input type="text" class="form-control" id="typeWarehouseName" required th:field="${typeWarehouseDto.typeWarehouseName}">
        </div>
        <br>
        <div class="col-mt-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/typeWarehouse}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>